<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email ejf template</title>
</head>
<body>
    <h1>welcome!! <%= email %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error totam unde tempora, amet laborum sequi nisi fugiat dolores nihil ipsum a, recusandae natus repellendus consequatur laboriosam quisquam fuga voluptates hic?</p>
</body>
</html>